<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.tcsl.canyin.dataprocessing.biz.dao.BizScHastenPOMapper">
  <resultMap id="BaseResultMap" type="cn.com.tcsl.canyin.summry.entity.BizScHastenPO">
    <id column="sc_id" jdbcType="BIGINT" property="scId" />
    <result column="bs_id" jdbcType="BIGINT" property="bsId" />
    <result column="item_id" jdbcType="BIGINT" property="itemId" />
    <result column="from_add_time" jdbcType="BIGINT" property="fromAddTime" />
    <result column="times" jdbcType="INTEGER" property="times" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_shop_id" jdbcType="INTEGER" property="createShopId" />
    <result column="upload_flg" jdbcType="SMALLINT" property="uploadFlg" />
    <result column="download_flg" jdbcType="SMALLINT" property="downloadFlg" />
    <result column="item_size_id" jdbcType="BIGINT" property="itemSizeId" />
    <result column="delflg" jdbcType="SMALLINT" property="delflg" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from biz_sc_hasten
    where sc_id = #{scId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.com.tcsl.canyin.summry.entity.BizScHastenPO">
    insert into biz_sc_hasten (sc_id, bs_id, item_id, 
      from_add_time, times, modify_time, 
      modifier_id, create_time, create_shop_id, 
      upload_flg, download_flg, item_size_id, 
      delflg, creator_id)
    values (#{scId,jdbcType=BIGINT}, #{bsId,jdbcType=BIGINT}, #{itemId,jdbcType=BIGINT}, 
      #{fromAddTime,jdbcType=BIGINT}, #{times,jdbcType=INTEGER}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{modifierId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{createShopId,jdbcType=INTEGER}, 
      #{uploadFlg,jdbcType=SMALLINT}, #{downloadFlg,jdbcType=SMALLINT}, #{itemSizeId,jdbcType=BIGINT}, 
      #{delflg,jdbcType=SMALLINT}, #{creatorId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.com.tcsl.canyin.summry.entity.BizScHastenPO">
    update biz_sc_hasten
    set bs_id = #{bsId,jdbcType=BIGINT},
      item_id = #{itemId,jdbcType=BIGINT},
      from_add_time = #{fromAddTime,jdbcType=BIGINT},
      times = #{times,jdbcType=INTEGER},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_shop_id = #{createShopId,jdbcType=INTEGER},
      upload_flg = #{uploadFlg,jdbcType=SMALLINT},
      download_flg = #{downloadFlg,jdbcType=SMALLINT},
      item_size_id = #{itemSizeId,jdbcType=BIGINT},
      delflg = #{delflg,jdbcType=SMALLINT},
      creator_id = #{creatorId,jdbcType=BIGINT}
    where sc_id = #{scId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select sc_id, bs_id, item_id, from_add_time, times, modify_time, modifier_id, create_time, 
    create_shop_id, upload_flg, download_flg, item_size_id, delflg, creator_id
    from biz_sc_hasten
    where sc_id = #{scId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select sc_id, bs_id, item_id, from_add_time, times, modify_time, modifier_id, create_time, 
    create_shop_id, upload_flg, download_flg, item_size_id, delflg, creator_id
    from biz_sc_hasten
  </select>
</mapper>